<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <h3>RECENT TRANSACTIONS</h3>
        </div>
        <div class="grid-item item2">
            <form onsubmit="inviteFriend(event,this)">
                <div class="input-group mb-3">
                    <input type="text" name="email" class="form-control" placeholder="Email" />
                </div>
                <button type="submit" class="btn-outline-secondary">
                    Invite
                </button>
            </form>
        </div>
        <div class="grid-item item3">
            <div class="input-group mb-3">
                <span class="input-group-text">£</span>
                <input type="text" class="form-control" placeholder="Amount" aria-label="£" />
            </div>
            <button type="button" class="btn-outline-secondary">
                Add Funds
            </button>
        </div>
        <div class="grid-item item4">
            <h3>Welcome {{user.name}}<br><br>
                ACCOUNT BALANCE: £{{user.balance}}</h3>
        </div>
        <div class="grid-item item5">

            <div>
                <h3 align="center">My Friends</h3>
                <form onsubmit="sendMoney(event, this)">
                    <div align="center" class="float-left">
                        <select class="form-control" name="friend" aria-label="Default select example" style="margin: 0px 10px;">
                            {{#each friends}}
                            <option value="{{this.email}},{{this.bank}}">{{this.email}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div align="center" class="float-left">
                        <div class="input-group mb-3" style="margin: 0px 10px;">
                            <input type="number" name="amount" class="form-control" placeholder="Amount" aria-label="£" />
                        </div>
                    </div>
                    <div align="center" class="float-left">
                        <button type="submit" class="btn-outline-secondary" style="margin: 0px 10px;">
                            Send Money
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        async function inviteFriend(event,form) {
            event.preventDefault()
            const data = new FormData(form)
            const body = {
                email: data.get("email")
            }

            const request = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            }

            await fetch("/user/{{user.id}}/invite-friend", request)
        }

        async function sendMoney(event, form) {
            event.preventDefault()
            const data = new FormData(form)
            const friend = data.get("friend")
             const [email, bank] = friend.split(',')
            const body1 = {
                email: email,
                amount: data.get("amount")
            }

            const request1 = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body1)
            }

            await fetch(bank + "/pay", request1)

            const body2 = {
                email: "{{user.email}}",
                amount: "-" + data.get("amount")
            }

            const request2 = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body2)
            }

            await fetch("/pay", request2)
        }
    </script>
</body>